<form>
  <fieldset>

    <%= form_for @question do |f| %>

      <legend>State whether this statement is true or false</legend>
      <%= f.label :question %>      
      <%= f.text_field :question, :placeholder => "Please enter the question" %>
      
      <%= f.radio_button :true, 'true' %>
      <%= f.label :true %>

      <%= f.radio_button :false, 'false' %>
      <%= f.label :false %>

      
      
      <%= f.submit %>
    <% end %>

  </fieldset>
</form>


