<div class="row-fluid">

  <% if @first_unvoted != nil %>

    <div id='statement' class='hero-unit'>
      <li>  <%= @first_unvoted.statement %> <br/>
            <%= link_to 'True', vote_true_statement_path(@first_unvoted), 
              class: "btn-small", class: "vote", remote: true %>
            <%= link_to 'False', vote_false_statement_path(@first_unvoted), 
              class: "btn-small", class: "vote", remote: true %> 
      </li>
    </div>

  <% else %>

    <p class='hero-unit' id='statement'> <%= 'There are no statements 
      left to vote on.' %> </p>

  <% end %>

  <br/>
  <%= link_to 'Add a statement', new_statement_path, id: 'add_statement', 
    class: "btn", remote: true %>

</div>