<h3> <%= @statement.statement %> </h3>

<p> <%= @statement.true_or_false %> </p>

<%= link_to 'Statement List', statements_path, class: "btn" %>
<%= link_to 'Edit', edit_statement_path(@statement), class: "btn" %>
<%= link_to 'Delete', statement_path(@statement), class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %>