<div class='hero-unit'>
  <p> <strong>Results</strong> </p>
  <table class='table table-condensed'>
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class='success'>
        <td>Answered correctly</td>
        <td><%= Statement.number_correct?(current_user) %></td>
      </tr>
      <tr class='error'>
        <td>Answered incorrectly</td>
        <td><%= Statement.number_incorrect?(current_user) %></td>
      </tr>
      <tr>
        <td>Answered</td>
        <td><%= Vote.count %></td>
      </tr>
      <tr>
        <td>Unanswered</td>
        <td><%= Statement.count - Vote.count %></td>
      </tr>
      <tr>
        <th>Total questions</th>
        <th><%= Statement.count %></th>
      </tr>
    </tbody>
  </table>
</div>