<!DOCTYPE html>
<html>
  <head>
    <title> QMe </title>
    <link href='http://fonts.googleapis.com/css?family=Mr+De+Haviland' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="row-fluid">
      <div class="span12">
        <div id='logo'><h1> Q Me </h1></div>
        <% if current_user %>
          <div id='text-right'> Signed in as <%= current_user.name %>!
            <%= link_to 'Sign out', signout_path %> <br/>
          </div>
        <% else %>
          
        <% end %>
        <div class="row-fluid">
          <div class="span4"> 

            <%= render 'layouts/aside' %> 

          </div>
          <div class="span8">

            <%= yield %>

          </div>
        </div>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
