<!DOCTYPE html>
<html>
  <head>
    <title> QMeNow </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery.js"></script>

    <div class="row-fluid">
      <div class="span12">
        <h2> QMeNow </h2>
        <% if current_user %>
          Signed in as <%= current_user.name %>!
          <%= link_to 'Sign out', signout_path %>
        <% else %>
          <%= link_to 'Sign in with Twitter', "/auth/twitter" %>
        <% end %>
        <div class="row-fluid">
          <div class="span4"> 

            <%= render 'layouts/aside' %> 

          </div>
          <div class="span8">

            <%= yield %>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
